@import 'tailwindcss';
@plugin "@iconify/tailwind4";

@font-face {
  font-family: 'Audiowide';
  src: url('/fonts/audiowide.ttf');
}

@utility font-audiowide {
  font-family: 'Audiowide';
}

/* Prevent iOS text selection */
body,
* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@utility text-stroke-* {
  text-shadow:
    -1px -1px 0 --value(--color-*),
    1px -1px 0 --value(--color-*),
    -1px 1px 0 --value(--color-*),
    1px 1px 0 --value(--color-*);
}

@layer base {
  html,
  body,
  #root {
    @apply fixed inset-0 overflow-hidden bg-slate-700 bg-radial to-slate-700 from-cyan-600 font-audiowide;
  }
}

@layer components {
  .page {
    @apply absolute inset-0 flex flex-col items-center justify-center;
  }

  .button {
    @apply relative flex items-center justify-center gap-1 bg-amber-400 text-white text-stroke-black font-bold px-4 py-2 rounded-xl shadow hover:bg-amber-300 cursor-pointer;
  }
  .button.success {
    @apply bg-green-500 hover:bg-green-400;
  }
  .button.danger {
    @apply bg-rose-700 hover:bg-rose-500;
  }
  .button.disabled {
    @apply opacity-50 pointer-events-none;
  }
  .button.icon {
    @apply p-0 size-9 text-3xl rotate-45;
  }
  .button.icon span[class^='icon-'] {
    @apply -rotate-45;
  }
  .button:not(.icon):has(span[class^='icon-']) {
    @apply pl-10;
  }
  .button:not(.icon) span[class^='icon-'] {
    @apply text-lg left-3 absolute;
  }

  .input {
    @apply bg-white px-4 py-2 rounded-xl relative;
  }
  div:has(> .input + span[class^='icon-']) {
    @apply relative;
  }
  .input:has(+ span[class^='icon-']) {
    @apply pl-10;
  }
  .input + span[class^='icon-'] {
    @apply absolute text-2xl text-slate-500 left-2 top-2;
  }

  div:has(> table) {
    @apply max-h-60 overflow-scroll pb-8;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
  table {
    @apply text-white text-stroke-black border-separate border-spacing-y-1;
  }
  table thead {
    @apply sticky top-0 z-10;
  }
  table thead th {
    @apply bg-blue-600 py-2 px-4 first:rounded-l-xl last:rounded-r-xl;
  }
  table tbody td {
    @apply bg-blue-600/30 py-2 px-4 first:rounded-l-xl last:rounded-r-xl;
  }
}
