@import 'tailwindcss';
@plugin "@iconify/tailwind4";

/* Prevent iOS text selection */
body,
* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@utility text-stroke-* {
  text-shadow:
    -1px -1px 0 --value(--color-*),
    1px -1px 0 --value(--color-*),
    -1px 1px 0 --value(--color-*),
    1px 1px 0 --value(--color-*);
}

@layer base {
  html,
  body,
  #root {
    @apply fixed inset-0 overflow-hidden bg-slate-700 bg-radial to-slate-700 from-cyan-600;
  }
}

@layer components {
  .page {
    @apply absolute inset-0 flex flex-col items-center justify-center;
  }

  .button {
    @apply relative flex items-center justify-center gap-1 bg-slate-600 text-white font-bold px-4 py-2 rounded-2xl shadow hover:bg-slate-500 cursor-pointer;
  }

  .button.success {
    @apply bg-green-500 hover:bg-green-400;
  }
  .button.warning {
    @apply bg-amber-500 hover:bg-amber-400;
  }
  .button.danger {
    @apply bg-rose-500 hover:bg-rose-400;
  }
  .button.disabled {
    @apply opacity-50 pointer-events-none;
  }
  .input {
    @apply bg-white px-4 py-2 rounded-2xl relative;
  }
  .button.icon {
    @apply p-0 size-9 text-3xl;
  }
  .button:not(.icon):has(span[class^='icon-']) {
    @apply pl-10;
  }
  .button:not(.icon) span[class^='icon-'] {
    @apply text-lg left-3 absolute;
  }

  div:has(> .input + span[class^='icon-']) {
    @apply relative;
  }
  .input:has(+ span[class^='icon-']) {
    @apply pl-10;
  }
  .input + span[class^='icon-'] {
    @apply absolute text-2xl text-slate-500 left-2 top-2;
  }
}
