@import 'tailwindcss';
@plugin "@iconify/tailwind4";

/* Prevent iOS text selection */
body,
* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer base {
  html,
  body,
  #root {
    @apply fixed inset-0 overflow-hidden bg-slate-700;
  }
}

@layer components {
  .page {
    @apply absolute inset-0 flex items-center justify-center;
  }

  .button {
    @apply flex items-center justify-center gap-1 bg-slate-400 text-white font-bold px-4 py-2 rounded-2xl shadow hover:bg-slate-500 cursor-pointer;
  }
  .button.icon {
    @apply p-0 flex justify-center items-center size-9 text-3xl;
  }
  .button span[class^='icon-'] {
    @apply text-lg;
  }
  .button.warning {
    @apply bg-amber-500 hover:bg-amber-400;
  }
  .button.disabled {
    @apply opacity-20 pointer-events-none;
  }

  .input {
    @apply bg-white px-4 py-2 rounded-2xl relative;
  }

  div:has(> .input + span[class^='icon-']) {
    @apply relative;
  }
  .input:has(+ span[class^='icon-']) {
    @apply pl-10;
  }
  .input + span[class^='icon-'] {
    @apply absolute text-2xl text-slate-500 left-2 top-2;
  }
}
