@import 'tailwindcss';
@plugin "@iconify/tailwind4";

/* Prevent iOS text selection */
body,
* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer base {
  html,
  body,
  #root {
    @apply fixed inset-0 overflow-hidden bg-slate-700;
  }
}
