@import 'tailwindcss';
@plugin "@iconify/tailwind4";

@font-face {
  font-family: 'Audiowide';
  src: url('/fonts/audiowide.ttf');
}

@utility font-audiowide {
  font-family: 'Audiowide';
}

@utility cursor-auto {
  cursor: url('/cursors/auto.png'), auto;
}

@utility cursor-pointer {
  cursor: url('/cursors/pointer.png'), pointer;
}

/* Prevent iOS text selection */
body,
* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @apply cursor-auto;
}

*[style*='cursor: pointer'],
*[style*='cursor: pointer'] * {
  @apply cursor-pointer!;
}

a,
button,
a *,
button *,
input,
input * {
  @apply cursor-pointer;
}

@utility text-stroke-* {
  text-shadow:
    -1px -1px 0 --value(--color-*),
    1px -1px 0 --value(--color-*),
    -1px 1px 0 --value(--color-*),
    1px 1px 0 --value(--color-*);
}

@layer base {
  html,
  body,
  #root {
    @apply font-audiowide touch-none fixed inset-0 overflow-hidden bg-slate-900 bg-radial to-slate-900 from-cyan-500;
  }
}

@layer components {
  .page {
    @apply fixed inset-0 overflow-hidden flex flex-col items-center justify-center pointer-events-none;
  }
  .page * {
    @apply pointer-events-auto;
  }

  .button {
    @apply relative flex items-center justify-center gap-1 bg-amber-400 text-white text-stroke-black font-bold px-4 py-2 rounded-xl shadow hover:bg-amber-300 active:bg-amber-300 cursor-pointer pointer-events-auto;
  }
  .button.success {
    @apply bg-green-500 hover:bg-green-400 active:bg-green-400;
  }
  .button.danger {
    @apply bg-rose-700 hover:bg-rose-500 active:bg-rose-500;
  }
  .button.disabled {
    @apply opacity-50 pointer-events-none;
  }
  .button.icon {
    @apply p-0 size-9 text-3xl rotate-45;
  }
  .button.icon.large {
    @apply p-0 size-12 text-5xl rotate-45;
  }
  .button.icon span[class^='icon-'] {
    @apply -rotate-45;
  }
  .button:not(.icon):has(span[class^='icon-']) {
    @apply pl-10;
  }
  .button:not(.icon) span[class^='icon-'] {
    @apply text-lg left-3 absolute;
  }

  a:not(.button) {
    @apply underline hover:text-slate-300 active:text-slate-300;
  }

  .input {
    @apply bg-white text-slate-500 px-4 py-2 rounded-xl relative outline-slate-500 ring-red-500;
  }
  div:has(> .input + span[class^='icon-']) {
    @apply relative;
  }
  .input:has(+ span[class^='icon-']) {
    @apply pl-10;
  }
  .input + span[class^='icon-'] {
    @apply absolute text-slate-500 text-2xl left-2 top-2;
  }

  div:has(> table) {
    @apply max-h-60 overflow-scroll pb-8;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
  table {
    @apply text-white text-stroke-black border-separate border-spacing-y-1;
  }
  table thead {
    @apply sticky top-0 z-10;
  }
  table thead th {
    @apply bg-white/40 py-2 px-4 first:rounded-l-xl last:rounded-r-xl;
  }
  table tbody td {
    @apply bg-white/10 py-2 px-4 first:rounded-l-xl last:rounded-r-xl;
  }
}
